<!DOCTYPE html>
<html>
  
<head>
	<meta charset="UTF-8">
	
	<title>RadioGrab</title>

	<link href="./node_modules/typeface-rajdhani/index.css" rel="stylesheet">
	<link href="./node_modules/ionicons/css/ionicons.min.css" rel="stylesheet">
	<link href="./index.css" rel="stylesheet">

	<script>window.onload = () => require('./index.js');</script>
</head>

<body>
	<div id="app" v-cloak>

		<!-- player and title view -->
		<div class="player-box">
			<div class="current-track-box" v-if="currentTrack">
				{{currentTrack.artist}} 
				<br> 
				{{currentTrack.title}}
			</div>
			<div class="player-buttons">
				<span class="selected-station-info" v-if="selectedStation">
					{{selectedStation.name}}
				</span>
				<input type="text" 
					   placeholder="Find Track"
					   class="search-term-input" 
					   v-model="searchTerm" 
					   v-if="selectedStation">
				<span v-if="selectedStation">
					<button class="icon" @click="showTimeline" title="Timeline"
							v-show="displayMode === 'tracklist'">&#xf3f3;</button>
					<button class="icon" @click="showTracklist" title="Tracklist"
							v-show="displayMode === 'timeline'">&#xf391;</button>
					<button class="icon" @click="startRecordingAndPlay()" title="Start Recording"
							v-if="!selectedStation.recording">
						&#xf496;
					</button>
					<button class="icon" @click="stopRecordingAndStop()" title="Stop Recording"
							v-if="selectedStation.recording">
						&#xf497;
					</button>
				</span>
				<button class="icon" title="Listen Live" 
						@click="live" :disabled="!isLivePossible">&#xf38c;</button>
				<button class="icon" title="Pause"
						@click="audioPlayer.pause()" v-show="audioPlayer.isPlaying">&#xf210;</button>
				<button class="icon" title="Play"
						@click="audioPlayer.continue()" 
						v-show="!audioPlayer.isPlaying" :disabled="!audioPlayer.isPaused">&#xf215;</button>

				<!-- volume icon -->
				&nbsp; &nbsp; &nbsp;
				<button @click="audioPlayer.volume = 0" 
						v-if="audioPlayer.volume >= 70" class="icon minimal-icon">&#xf257;</button>
				<button @click="audioPlayer.volume = 0" 
						v-else-if="audioPlayer.volume >= 35" class="icon minimal-icon">&#xf259;</button>
				<button @click="audioPlayer.volume = 0" 
						v-else-if="audioPlayer.volume > 0" class="icon minimal-icon">&#xf258;</button>
				<button @click="audioPlayer.volume = 0"
						v-else class="icon minimal-icon">&#xf25a;</button>
				<!-- volume slider -->
				<input type="range" min="0" max="100" v-model="audioPlayer.volume">
			</div>
		</div>

		<div class="station-picker">
			<div class="station-box" v-for="station in stations" 
				 :class="{selected: selectedStation === station}"
				 @click="selectStation(station)">
				<img class="logo" :src="station.logo" :title="station.name"
					 :class="{inactive: !station.recording}">				
			</div>
		</div>
				
		<div class="tracklist-area" v-if="selectedStation" v-show="displayMode === 'tracklist'">
			<div v-if="tracks && tracks.length">
				<table class="tracklist-head">
					<tr>
						<td class="artist-column" @click="changeSorting('artist')">
							Artist
							<span v-if="sortColumn === 'artist' && sortOrder === 'asc'">&#x25B2;</span>
							<span v-if="sortColumn === 'artist' && sortOrder === 'desc'">&#x25BC;</span>
						</td>
						<td class="title-column" @click="changeSorting('title')">
							Title
							<span v-if="sortColumn === 'title' && sortOrder === 'asc'">&#x25B2;</span>
							<span v-if="sortColumn === 'title' && sortOrder === 'desc'">&#x25BC;</span>
						</td>
						<td class="length-column" @click="changeSorting('length')">
							Length
							<span v-if="sortColumn === 'length' && sortOrder === 'asc'">&#x25B2;</span>
							<span v-if="sortColumn === 'length' && sortOrder === 'desc'">&#x25BC;</span>
						</td>
						<td class="time-column" @click="changeSorting('time')">
							Time
							<span v-if="sortColumn === 'time' && sortOrder === 'asc'">&#x25B2;</span>
							<span v-if="sortColumn === 'time' && sortOrder === 'desc'">&#x25BC;</span>
						</td>
						<td class="action-column">
							<button class="icon minimal-icon" title="Settings"
							@click="openSaveFolderPicker">&#xf39d;</button>
						</td>
					</tr>
				</table>
				<table class="tracklist-body">
					<tr v-for="track in tracks" 
						@click="selectTrackAndPlay(track)"
						:class="{selected: track === selectedTrack, edited: track.edited}">
						<td class="artist-column">{{track.artist}}</td>
						<td class="title-column">{{track.title}}</td>
						<td class="length-column">{{track.getLengthAsString()}}</td>
						<td class="time-column">{{track.time}}</td>
						<td class="action-column">
							<img class="symbol" title="Search on Google"
								 @click.stop="open(track.getGoogleLink())"
								 src="img/google.png">
						    <img class="symbol" title="Search on YouTube"
								 @click.stop="open(track.getYoutubeLink())"
								 src="img/youtube.png">
							<img class="symbol" title="Edit"
								 @click.stop="openEditTrackDialog(track)"
								 src="img/edit.svg">
							<img class="symbol" title="Save"
								 @click.stop="saveTrack(track)"
								 src="img/save.svg">
						</td>
					</tr>
				</table>
			</div>
			<div v-else-if="!searchTerm.length">
				<div class="message">
					There are no tracks yet. 
					Record the station for a while and this list will be filled soon.
				</div>
			</div>
			<div v-else>
				<div class="message">
					No tracks matching the search term.
				</div>
			</div>
		</div>

		<!-- timeline -->
		<div class="timeline-area" v-if="selectedStation" v-show="displayMode === 'timeline'">
			<!-- zoom buttons -->
			<div class="timeline-controls">
				<img class="symbol" title="Zoom In" src="img/plus.svg" @click.stop="timelineZoomIn">
				<img src="img/zoom.svg" height="30">
				<img class="symbol" title="Zoom Out" src="img/minus.svg" @click.stop="timelineZoomOut">
			</div>

			<!-- live block -->
			<div v-if="liveBlock" 
				 class="timeline-block">
				<div class="timeline-block-end">
					Live
				</div>
				<div class="timeline-block-inner live-block"
					 @click.stop="playInBlock(liveBlock, $event, true)"
					 @contextmenu.prevent.stop="openNewTrackDialog(liveBlock, $event)" 
					 :style="{height: liveBlock.height}">
					<!-- tracks -->
					<div v-for="track in getTracksOfBlock(liveBlock)"
						 class="timeline-track"
						 :class="{edited: track.edited}"
						 :title="track.artist + ' - ' + track.title"
						 :style="{height: track.height, bottom: track.bottom}"
						 @click.stop="selectTrackAndPlay(track)"
						 @contextmenu.stop.prevent="openEditTrackDialog(track.ref)">
						<span v-if="parseInt(track.height) > 24">
							{{track.artist}} - {{track.title}}
						</span>
					</div>
					<!-- block arrow -->
					<div v-if="audioPlayer.audio && audioPlayer.file === liveBlock.file" 
						 class="timeline-arrow"
						 :style="{bottom: arrowPosition}">
				   		<span>&nbsp;{{currentPlayingTime}}&nbsp;</span>
					</div>
					<!-- live arrow -->
					<div v-if="audioPlayer.audio && audioPlayer.mode === 'live'" 
					 	 class="timeline-arrow"
						 :style="{top: '0px'}">
						<span>&nbsp;{{currentPlayingTime}}&nbsp;</span>
					</div>
				</div>
				<div class="timeline-block-start">
					{{liveBlock.startTime}}
				</div>
			</div>
			
			<div v-else-if="!blocks.length" class="message">
				There are no recordings yet, therefore the timeline is empty.
			</div>

			<!-- other blocks -->
			<div v-for="block in blocks" 
				 class="timeline-block">
				<div class="timeline-block-end">
					{{block.endTime}}
				</div>
				<div class="timeline-block-inner" 
					 @click.stop="playInBlock(block, $event)"
					 @contextmenu.prevent.stop="openNewTrackDialog(block, $event)" 
					 :style="{height: block.height}">
					<!-- tracks -->
					<div v-for="track in getTracksOfBlock(block)"
							class="timeline-track"
							:class="{edited: track.edited}"
							:title="track.artist + ' - ' + track.title"
							:style="{height: track.height, bottom: track.bottom}"
							@click.stop="selectTrackAndPlay(track)"
							@contextmenu.stop.prevent="openEditTrackDialog(track.ref)">
						<span v-if="parseInt(track.height) > 24">
							{{track.artist}} - {{track.title}}
						</span>
					</div>
					<!-- arrow -->
					<div v-if="audioPlayer.audio && audioPlayer.file === block.file" 
						 class="timeline-arrow"
						 :style="{bottom: arrowPosition}">
						<span>&nbsp;{{currentPlayingTime}}&nbsp;</span>
					</div>
				</div>
				<div class="timeline-block-start">
					{{block.startTime}}
				</div>
			</div>
				
		</div>

		<div v-else>
			<div class="message">
				Select a station!
			</div>
		</div>

		<!-- new track dialog -->
		<div class="track-editor overlay" v-show="newTrackDialog.visible">
			<h3>Add Track</h3>
			<form @submit.prevent="submitNewTrackDialog">
				<div><label>Artist</label><input type="text" v-model="newTrackDialog.artist"></div>
				<div><label>Title</label><input type="text" v-model="newTrackDialog.title"></div>
				<div>
					<label>Start</label>
					<input type="number" step="0.1" v-model="newTrackDialog.start">
					<button type="button" 
							@click="testCut(newTrackDialog.take, newTrackDialog.start)">
						Test
					</button>
				</div>
				<div>
					<label>End</label>
					<input type="number" step="0.1" v-model="newTrackDialog.end">
					<button type="button" 
							@click="testCut(newTrackDialog.take, newTrackDialog.end)">
						Test
					</button>
				</div>
				<div>
					<button class="cancel" 
							type="button" 
							@click="cancelNewTrackDialog">
						Cancel
					</button>
					<button class="ok" 
							type="submit" 
							:disabled="!newTrackDialog.artist || !newTrackDialog.title">
						OK
					</button>
				</div>
			</form>
		</div>

		<!-- edit track dialog -->
		<div class="track-editor overlay" v-show="editTrackDialog.visible">
			<h3>Edit Track</h3>
			<form @submit.prevent="submitEditTrackDialog">
				<div><label>Artist</label><input type="text" v-model="editTrackDialog.artist"></div>
				<div><label>Title</label><input type="text" v-model="editTrackDialog.title"></div>
				<div>
					<label>Start</label>
					<input type="number" step="0.1" v-model="editTrackDialog.start">
					<button type="button" 
							@click="testCut(editTrackDialog.track.take, editTrackDialog.start)">
						Test
					</button>
				</div>
				<div>
					<label>End</label>
					<input type="number" step="0.1" v-model="editTrackDialog.end">
					<button type="button" 
							@click="testCut(editTrackDialog.track.take, editTrackDialog.end)">
						Test
					</button>
				</div>
				<div>
					<button class="cancel" 
							type="button" 
							@click="cancelEditTrackDialog">
						Cancel
					</button>
					<button class="delete"
							type="button"
							@click="deleteEditedTrack">
						Delete Track
					</button>
					<button class="ok" 
							type="submit"
							:disabled="!editTrackDialog.artist || !editTrackDialog.title">
						OK
					</button>
				</div>
			</form>
		</div>

		<!-- track extraction progress dialog -->
		<div class="save-file overlay" v-show="saveFileDialog.visible">
			<h3>Saving Track on Disk</h3>
			<div v-if="saveFileDialog.isSaving">
				File is written on disk, please wait...
			</div>
			<div v-else>
				<div>Successfully finished!</div>
				<div><button @click="saveFileDialog.visible=false">OK</button></div>
			</div>
		</div>

		<!-- hidden file input for the local directory to save tracks into -->
		<input type="file" webkitdirectory 
			   id="folderPicker"  
			   @change="updateSaveFolder"
			   style="display: none">
		
	</div>
</body>

</html>