html, body {
	margin: 0;
	padding: 0;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
}

[v-cloak] { 
	display: none; 
}

button {
	border: none;
	background-color: steelblue;
	color: white;
	font-family: 'Rajdhani', sans-serif;
	font-size: 18px;
}

button:disabled {
	background-color: gray;
}

div.player-box {
	height: 70px;
	background-color: deepskyblue;
}

div.current-track-box {
	float: left;
	line-height: 25px;
	vertical-align: middle;
	margin: 10px;
}

div.player-buttons {
	float: right;
	line-height: 70px;
	vertical-align: middle;	
}

span.selected-station-info {
	margin-right: 20px;
}

input[type=text].search-term-input {
	padding-left: 4px;
	width: 160px;	
	height: 26px;
	font-size: 20px;
	font-family: 'Rajdhani', sans-serif;
	border: 1px solid steelblue;
	border-radius: 0;
	margin-right: 20px;
}

input[type=text].search-term-input:focus {
	outline: none;
}

input[type=range] {
	display: block;
	float: right;
	width: 80px;
	height: 30px;
	margin: 20px;
	padding: 0;
}

div.station-picker {
	height: 80px;
	display: flex;
	flex-flow: row nowrap;
	overflow-x: auto;
	background-color: lightskyblue;
}

div.station-picker::before, div.station-picker::after {
	margin: auto;
	content: '';
}

div.station-box {
	flex-shrink: 0;
	margin: 10px;
	padding: 10px;
}

div.station-box.selected {
	padding: 8px;
	border: 2px solid gray;
}

img.logo {
	height: 40px;
	cursor: pointer;
}

img.logo.inactive {
	filter: grayscale(1);
}

div.tracklist-area {
	width: 100%;
}

table.tracklist-head, table.tracklist-body {
	display: block;
	width: 100%;
	border-spacing: 0;
}

table.tracklist-head {
	background-color: steelblue;
	font-weight: bold;
	cursor: pointer;
}

table.tracklist-body {
	max-height: calc(100vh - 182px);
	overflow-y: auto;
}

table.tracklist-head tbody, table.tracklist-body tbody {
	display: block;
	width: 100%;
}

table.tracklist-head tr, table.tracklist-body tr {
	display: block;
	width: calc(100vw - 16px);
}

table.tracklist-body tr:nth-child(2n) {
	background-color: lightblue;
}

table.tracklist-body tr:nth-child(2n+1) {
	background-color: lightsteelblue;
}

td {
	display: inline-block;
	padding: 3px 6px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
}

td.artist-column {
	width: 33%;
}

td.title-column {
	width: 33%;
}

td.length-column {
	width: 6%;
}

td.time-column {
	width: 9%;
}

td.action-column {
	width: 12%;
	font-size: 0;
	text-align: right;
}

div.timeline-area {
	width: 100%;
	background-color: greenyellow;
	max-height: calc(100vh - 150px);
	overflow-y: auto;
}

div.timeline-block {
	margin: 20px;
}

div.timeline-block-start, div.timeline-block-end {
	text-align: center;
	font-size: 15px;
}

div.timeline-block-inner {
	position: relative;
	background-color: lightseagreen;
}

div.timeline-track {
	position: absolute;
	margin-left: 30px;
	width: calc(100% - 40px);
	font-size: 16px;
	background-color: violet;
	border: 1px solid gray;
}

div.message {
	padding: 20px;
	font-weight: bold;
}

img.symbol {
	height: 26px;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

div.overlay {
	position: absolute;
	margin: 0 auto;
	top: 100px; left: 0; bottom: 0; right: 0;
	z-index: 17;
	border: 2px solid steelblue;
	border-top: 20px solid steelblue;
	background-color: white;
	text-align: center;
}

div.track-editor.overlay {
	width: 500px;
	height: 300px;
}

div.save-file.overlay {
	width: 300px;
	height: 200px;
}