html, body {
	margin: 0;
	padding: 0;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
}

[v-cloak] { 
	display: none; 
}

button {
	border: none;
	background-color: rgb(50, 72, 90);
	color: white;
	font-family: 'Rajdhani', sans-serif;
	font-size: 18px;
	cursor: pointer;
	outline: none;
}

button:hover {
	background-color: rgb(103, 149, 187);
}

button:active {
	background-color: white;
	color: black;
}

button:disabled {
	background-color: rgb(86, 86, 87);
	cursor: default;
}

div.player-box {
	height: 70px;
	background-color: black;
	color: white;
}

div.current-track-box {
	float: left;
	line-height: 25px;
	margin: 10px;
}

div.player-buttons {
	float: right;
	line-height: 70px;
}

span.selected-station-info {
	margin-right: 20px;
}

input[type=text].search-term-input {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 5px;
	padding-bottom: 3px;
	width: 200px;	
	font-size: 16px;
	font-family: 'Rajdhani', sans-serif;
	border: none;
	border-radius: 0;
	margin-right: 20px;
}

input[type=text].search-term-input:focus {
	outline: none;
	background-color: #99bbcc;
}

input[type=range] {
	display: block;
	float: right;
	width: 80px;
	height: 30px;
	margin: 20px;
	margin-left: 10px;
	padding: 0;
}

div.station-picker {
	height: 80px;
	display: flex;
	flex-flow: row nowrap;
	overflow-x: auto;
	background-color: #242c30;
}

div.station-picker::before, div.station-picker::after {
	margin: auto;
	content: '';
}

div.station-box {
	flex-shrink: 0;
	margin: 10px;
	padding: 10px;
	background-color: rgb(50, 72, 90);
}

div.station-box:hover {
	background-color: rgb(103, 149, 187);
	cursor: pointer;	
}

div.station-box:active {
	background-color: white;
}

div.station-box.selected {
	background-color: #99bbcc;
}

img.logo {
	height: 40px;
}

img.logo.inactive {
	filter: grayscale(1);
}

div.tracklist-area {
	width: 100%;
}

table.tracklist-head, table.tracklist-body {
	display: block;
	width: 100%;
	border-spacing: 0;
}

table.tracklist-head {
	background-color: black;
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding-top: 3px;
	padding-bottom: 1px;
}

table.tracklist-body {
	max-height: calc(100vh - 182px);
	overflow-x: hidden;
	overflow-y: auto;
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
}

table.tracklist-head tbody, table.tracklist-body tbody {
	display: block;
	width: 100%;
}

table.tracklist-head tr, table.tracklist-body tr {
	display: block;
	width: calc(100vw);
}

table.tracklist-body tr:nth-child(2n) {
	background-color: #99bbcc;
}

table.tracklist-body tr:nth-child(2n+1) {
	background-color: #85a3b2;
}

table.tracklist-body tr:hover {
	background-color: #5f747f;
}

table.tracklist-body tr.edited {
	color: #0a254e;
}

table.tracklist-body tr.selected {
	color: black;
	font-weight: bold;
}

div.tracklist-area td {
	display: inline-block;
	padding: 1px 6px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

td.artist-column {
	width: 33%;
}

td.title-column {
	width: 33%;
}

td.length-column {
	width: 6%;
}

td.time-column {
	width: 10%;
}

td.action-column {
	width: 11%;
	font-size: 0;
	text-align: right;
	padding-right: 18px;
}

table.tracklist-body td.length-column, table.tracklist-body td.time-column {
	letter-spacing: 1px;
}

div.timeline-area {
	position: relative;
	width: 100%;
	background-color: #5f747f;
	color: white;
	max-height: calc(100vh - 150px);
	overflow-y: auto;
}

div.timeline-controls {
	position: fixed;
	top: 170px;
	right: 35px;
	z-index: 3;
	padding: 5px;
	padding-bottom: 0;
	background-color: white;
	color: black;
}

div.timeline-block {
	margin: 25px 70px;
}

div.timeline-block-inner.live-block {
	position: relative;
	background-color: rgb(50, 72, 90);
	cursor: pointer;
}

div.timeline-block-start, div.timeline-block-end {
	text-align: center;
	font-size: 18px;
}

div.timeline-block-inner {
	position: relative;
	background-color: #85a3b2;
	cursor: pointer;
}

div.timeline-track {
	position: absolute;
	margin-left: 70px;
	padding: 0 30px; 
	line-height: 2;
	width: calc(100% - 160px);
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	background-color: #99bbcc;
	color: black;
	border: 1px solid #666666;
	cursor: pointer;
}

div.timeline-track.edited {
	color: #0a254e;
	font-weight: bold;
}

div.timeline-arrow {
	position: absolute;
	margin-left: -70px;
	width: calc(100% + 140px);
	height: 2px;
	background-color: black;
	text-align: center;
}

div.timeline-arrow span {
	background-color: black;
}

div.message {
	padding: 20px;
	color: white;
	font-weight: bold;
}

button.icon {
	font-family: Ionicons;
	font-size: 18px;
	height: 25px;
	width: 32px;
}

button.minimal-icon {
	background-color: black;
	color: white;
}

img.symbol {
	display: inline-block;
	height: 16px;
	cursor: pointer;
	margin: 1px;
	padding: 3px;
	transition: height 200ms, padding 200ms;
}

img.symbol:hover {
	height: 22px;
	padding: 0px;
}

img.symbol:active {
	height: 10px;
	padding: 6px;
}

img.symbol.bar {
	display: inline;
}

div.overlay {
	position: absolute;
	margin: 0 auto;
	top: 200px; left: 0; bottom: 0; right: 0;
	z-index: 17;
	border: 2px solid black;
	border-top: 30px solid black;
	background-color: #242c30;
	color: white;
	text-align: center;
}

div.overlay button.close {
	position: absolute;
	top: -28px;
	right: 2px;
}

div.overlay table.form-table {
	margin: 0 auto;
	padding-bottom: 10px;
}

div.overlay h3 {
	margin-top: 15px;
	margin-bottom: 10px;
}

div.overlay td.form-label {
	padding-right: 10px;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
}

div.overlay input[type=text] {
	width: 200px;
	height: 29px;
	border: none;
	padding: 0 4px;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
}

div.overlay input[type=text]:focus {
	outline: none;
	background-color: #99bbcc;
}

div.overlay input[type=number] {
	width: 162px;
	height: 29px;
	border: none;
	padding: 0 4px;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
}

div.overlay input[type=number]:focus {
	outline: none;
	background-color: #99bbcc;
}

div.overlay button.form-button {
	width: 120px;
}

div.track-editor.overlay {
	width: 500px;
	height: 250px;
}

div.save-file.overlay {
	width: 500px;
	height: 200px;
}