<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
	<title>RadioGrab</title>
	<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
	<link rel="stylesheet" href="./index.css">
	<script>
		window.onload = function(){
			require('./index.js');
		}
	</script>
</head>

<body>
	<div id="app" v-cloak>

		<!-- player and title view -->
		<div class="player-box">
			<div class="current-track-box" v-if="currentTrack">
				{{currentTrack.artist}} 
				<br> 
				{{currentTrack.title}}
			</div>
			<div class="player-buttons">
				<span class="selected-station-info" v-if="selectedStation">
					{{selectedStation.name}}
				</span>
				<input type="text" 
					   placeholder="Search"
					   class="search-term-input" 
					   v-model="searchTerm" 
					   v-if="selectedStation">
				<span v-if="selectedStation">
					<button @click="showTimeline" v-show="displayMode === 'tracklist'">tl</button>
					<button @click="showTracklist" v-show="displayMode === 'timeline'">tl</button>
					<button @click="startRecordingAndPlay()" 
							v-if="!selectedStation.recording">
						Record
					</button>
					<button @click="stopRecordingAndStop()" 
							v-if="selectedStation.recording">
						Stop
					</button>
				</span>
				<button @click="live" :disabled="!isLivePossible">Live</button>
				<button @click="audioPlayer.pause()" v-show="audioPlayer.isPlaying">Pause</button>
				<button @click="audioPlayer.continue()" v-show="audioPlayer.isPaused">Play</button>
				<input type="range" min="0" max="100" v-model="audioPlayer.volume">
			</div>
		</div>

		<div class="station-picker">
			<div class="station-box" v-for="station in stations" 
				 :class="{selected: selectedStation === station}">
				<img class="logo" :src="station.logo" 
					 :class="{inactive: !station.recording}"
					 @click="selectStation(station)">				
			</div>
		</div>
				
		<div class="tracklist-area" v-if="selectedStation" v-show="displayMode === 'tracklist'">
			<div v-if="tracks && tracks.length">
				<table class="tracklist-head">
					<tr>
						<td class="artist-column" @click="changeSorting('artist')">
							Artist
							<span v-if="sortColumn === 'artist' && sortOrder === 'asc'">&#x25B2;</span>
							<span v-if="sortColumn === 'artist' && sortOrder === 'desc'">&#x25BC;</span>
						</td>
						<td class="title-column" @click="changeSorting('title')">
							Title
							<span v-if="sortColumn === 'title' && sortOrder === 'asc'">&#x25B2;</span>
							<span v-if="sortColumn === 'title' && sortOrder === 'desc'">&#x25BC;</span>
						</td>
						<td class="length-column" @click="changeSorting('length')">
							Length
							<span v-if="sortColumn === 'length' && sortOrder === 'asc'">&#x25B2;</span>
							<span v-if="sortColumn === 'length' && sortOrder === 'desc'">&#x25BC;</span>
						</td>
						<td class="time-column" @click="changeSorting('time')">
							Time
							<span v-if="sortColumn === 'time' && sortOrder === 'asc'">&#x25B2;</span>
							<span v-if="sortColumn === 'time' && sortOrder === 'desc'">&#x25BC;</span>
						</td>
						<td class="action-column">
							<button @click="openSaveFolderPicker">sv</button>
						</td>
					</tr>
				</table>
				<table class="tracklist-body">
					<tr v-for="track in tracks" 
						@click="selectTrackAndPlay(track)">
						<td class="artist-column">{{track.artist}}</td>
						<td class="title-column">{{track.title}}</td>
						<td class="length-column">{{track.getLengthAsString()}}</td>
						<td class="time-column">{{track.time}}</td>
						<td class="action-column">
							<img class="symbol"
								 @click.stop="open(track.getGoogleLink())"
								 src="http://logok.org/wp-content/uploads/2015/09/Google-logo-2015-G-icon-640x480.png">
						    <img class="symbol"
								 @click.stop="open(track.getYoutubeLink())"
								 src="http://logok.org/wp-content/uploads/2014/08/Youtube-logo-2017-640x480.png">
							<img class="symbol"
								 @click.stop="openEditTrackDialog(track)"
								 src="https://image.freepik.com/free-icon/edit-interface-symbol_318-61460.jpg">
							<img class="symbol"
								 @click.stop="saveTrack(track)"
								 src="https://openclipart.org/download/237989/save-file.svg">
						</td>
					</tr>
				</table>
			</div>
			<div v-else-if="!searchTerm.length">
				<div class="message">
					There are no tracks yet. 
					Record the station for a while and this list will be filled soon.
				</div>
			</div>
			<div v-else>
				<div class="message">
					No tracks matching the search term.
				</div>
			</div>
		</div>

		<!-- timeline -->
		<div class="timeline-area" v-if="selectedStation" v-show="displayMode === 'timeline'">
			<div v-if="blocks && blocks.length">
				<!-- block -->
				<div v-for="(block, i) in blocks" 
					 class="timeline-block">
					<div class="timeline-block-end">
						{{block.end.format('D.M.YYYY H:mm')}}
					</div>
					<div class="timeline-block-inner" 
						 @click.stop="playInBlock(block, $event)" 
						 :style="{height: blockHeights[i]}">
						<!-- track -->
						<div v-for="track in getTracksOfBlock(block.name)"
							 class="timeline-track"
							 :title="track.artist + ' - ' + track.title"
							 :style="{height: track.height, bottom: track.bottom}"
							 @click.stop="selectTrackAndPlay(track)"
							 @contextmenu.stop.prevent="openEditTrackDialog(track)">
							<span v-if="parseInt(track.height) > 24">
								{{track.artist}} - {{track.title}}
							</span>
						</div>
						<!-- arrow -->
						<div v-if="audioPlayer.audio && audioPlayer.file === block.name" 
							 class="timeline-arrow"
							 :title="currentPlayingTime"
							 :style="{bottom: arrowPosition}">
							 <span>&nbsp;{{currentPlayingTime}}&nbsp;</span>
						</div>
					</div>
					<div class="timeline-block-start">
						{{block.start.format('D.M.YYYY H:mm')}}
					</div>
				</div>
				
			</div>
			<div v-else>
				<div class="message">
					There is no recording yet, so the timeline is emtpy.
				</div>
			</div>
		</div>

		<div v-else>
			<div class="message">
				Select a station!
			</div>
		</div>

		<!-- track edit dialog -->
		<div class="track-editor overlay" v-show="editTrackDialog.visible">
			<h3>Edit Track</h3>
			<form @submit.prevent="submitEditTrackDialog">
				<div><label>Artist</label><input type="text" v-model="editTrackDialog.artist"></div>
				<div><label>Title</label><input type="text" v-model="editTrackDialog.title"></div>
				<div>
					<label>Start</label>
					<input type="number" step="0.1" v-model="editTrackDialog.start">
					<button type="button" @click="testCutStart">Test</button>
				</div>
				<div>
					<label>End</label>
					<input type="number" step="0.1" v-model="editTrackDialog.end">
					<button type="button" @click="testCutEnd">Test</button>
				</div>
				<div>
					<button class="cancel" type="button" @click="cancelEditTrackDialog">Cancel</button>
					<button class="ok" type="submit">OK</button>
				</div>
			</form>
		</div>

		<!-- track extraction progress dialog -->
		<div class="save-file overlay" v-show="saveFileDialog.visible">
			<h3>Saving Track on Disk</h3>
			<div v-if="saveFileDialog.isSaving">
				File is written on disk, please wait...
			</div>
			<div v-else>
				<div>Successfully finished!</div>
				<div><button @click="saveFileDialog.visible=false">OK</button></div>
			</div>
		</div>

		<!-- hidden file input for the local directory to save tracks into -->
		<input type="file" webkitdirectory 
			   id="folderPicker"  
			   @change="updateSaveFolder"
			   style="display: none">
		
	</div>
</body>

</html>